body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    display: flex;
    text-align: center;
}

#main {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border: ridge 20px red;
    background-color: aquamarine;
}

#titre {
    width: 50%;
}

textarea {
    width: 75%;
}

button {
    height: 40px;
    border-radius: 12%;
    background-color: darkgreen;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f1c5c5;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }