body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(59, 59, 59);
    display: flex;
    text-align: center;
}

#main {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border: ridge 20px red;
    background-color: aquamarine;
  }
  
  #header {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(59, 59, 59);
    height: 70px;
  }
  
  #divIndex {
    display: flex;
    width: 75%;
    margin: auto;
    flex-direction: column;
  }

  #divArticle {
    display: none;
    width: 75%;
    margin: auto;
    flex-direction: column;
  }

.resume, .libelle {
  color: whitesmoke ;
  cursor: pointer;
}

.resume {
  border: solid 3px grey;
  font-style: italic;
  padding: 6px;
}

#titre {
  width: 50%;
}

textarea {
  width: 75%;
}

button {
  margin: auto;
  height: 40px;
  border-radius: 12%;
  background-color: darkgreen;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.btHome {
  margin: auto;
  width: 100px;
}

/************************************************************/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f1c5c5;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }